<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9e07c373ee6f540cdf786e5d99c28f3a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 30.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" style="height: 100px " placeholder="Дмитрий Гордон">
        <label for="floatingInput">Название</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px width:30%"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <button class="button button1" style="!important">SAVE.</button>
    
    
            <div class="folium-map" id="map_9e07c373ee6f540cdf786e5d99c28f3a" ></div>
        
</body>
<script>
    
    
            var map_9e07c373ee6f540cdf786e5d99c28f3a = L.map(
                "map_9e07c373ee6f540cdf786e5d99c28f3a",
                {
                    center: [55.7522, 37.6156],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0d412d6e669f225d45e0f513621c7d54 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9e07c373ee6f540cdf786e5d99c28f3a);
        
    
                var lat_lng_popup_d5c4467194511e7ec48a1b866b5734c0 = L.popup();
                function latLngPop(e) {
                data = e.latlng.lat.toFixed(4) + "," + e.latlng.lng.toFixed(4);
                    lat_lng_popup_d5c4467194511e7ec48a1b866b5734c0
                        .setLatLng(e.latlng)
                        .setContent( "<br /><a href="+data+"> click </a>")
                        .openOn(map_9e07c373ee6f540cdf786e5d99c28f3a)
                    }
                map_9e07c373ee6f540cdf786e5d99c28f3a.on('click', latLngPop);

            
    
            var marker_117ed2f5f0bef5065703e8b454937ae8 = L.marker(
                [55.8006, 37.6684],
                {}
            ).addTo(map_9e07c373ee6f540cdf786e5d99c28f3a);
        
    
        var popup_9d521a7c3e08df464a4da8538219585a = L.popup({"maxWidth": "100%"});

        
            
                var html_a1d1988658155a11dd922043219a0ee1 = $(`<div id="html_a1d1988658155a11dd922043219a0ee1" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_9d521a7c3e08df464a4da8538219585a.setContent(html_a1d1988658155a11dd922043219a0ee1);
            
        

        marker_117ed2f5f0bef5065703e8b454937ae8.bindPopup(popup_9d521a7c3e08df464a4da8538219585a)
        ;

        
    
</script>
</html>