<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0559a182e71020d27f47b1ad5e343aba {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 30.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" style="height: 100px " placeholder="Дмитрий Гордон">
        <label for="floatingInput">Название</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px width:30%"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
    <button class="button button1" style="!important">SAVE.</button>
    
    
            <div class="folium-map" id="map_0559a182e71020d27f47b1ad5e343aba" ></div>
        
</body>
<script>
    
    
            var map_0559a182e71020d27f47b1ad5e343aba = L.map(
                "map_0559a182e71020d27f47b1ad5e343aba",
                {
                    center: [55.7522, 37.6156],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0504b929933b8a1ad9ce73f513cee227 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
                var lat_lng_popup_6d1a92dd8a411b96b75a76f3e4f2f290 = L.popup();
                function latLngPop(e) {
                data = e.latlng.lat.toFixed(4) + "," + e.latlng.lng.toFixed(4);
                    lat_lng_popup_6d1a92dd8a411b96b75a76f3e4f2f290
                        .setLatLng(e.latlng)
                        .setContent( "<br /><a href="+data+"> click </a>")
                        .openOn(map_0559a182e71020d27f47b1ad5e343aba)
                    }
                map_0559a182e71020d27f47b1ad5e343aba.on('click', latLngPop);

            
    
            var marker_9593aa77e9af2c1aebaf918312a361a2 = L.marker(
                [55.8006, 37.6684],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_21789dc73e93047fc19f63b5fe97ff81 = L.popup({"maxWidth": "100%"});

        
            
                var html_9793d28deb3d3e96aaf0a55b79a96d9a = $(`<div id="html_9793d28deb3d3e96aaf0a55b79a96d9a" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_21789dc73e93047fc19f63b5fe97ff81.setContent(html_9793d28deb3d3e96aaf0a55b79a96d9a);
            
        

        marker_9593aa77e9af2c1aebaf918312a361a2.bindPopup(popup_21789dc73e93047fc19f63b5fe97ff81)
        ;

        
    
    
            var marker_20c94fe66e12ad497c4cc9934e0ea79f = L.marker(
                [55.7828, 37.5347],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_0e087f0cbfa64f340c530d627d6c9460 = L.popup({"maxWidth": "100%"});

        
            
                var html_77150490cf424a36b4195e34446447e0 = $(`<div id="html_77150490cf424a36b4195e34446447e0" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_0e087f0cbfa64f340c530d627d6c9460.setContent(html_77150490cf424a36b4195e34446447e0);
            
        

        marker_20c94fe66e12ad497c4cc9934e0ea79f.bindPopup(popup_0e087f0cbfa64f340c530d627d6c9460)
        ;

        
    
    
            var marker_c3a4e3cf387eae6d1ab62bea3eceddc2 = L.marker(
                [55.8037, 37.6719],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_2c44f5960101d3a62694c0922bfbc36f = L.popup({"maxWidth": "100%"});

        
            
                var html_17414d62bdfe4b39dda345f8cadd5d3b = $(`<div id="html_17414d62bdfe4b39dda345f8cadd5d3b" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_2c44f5960101d3a62694c0922bfbc36f.setContent(html_17414d62bdfe4b39dda345f8cadd5d3b);
            
        

        marker_c3a4e3cf387eae6d1ab62bea3eceddc2.bindPopup(popup_2c44f5960101d3a62694c0922bfbc36f)
        ;

        
    
    
            var marker_bbd441f298cc800afeeab1012a6ef389 = L.marker(
                [55.8101, 37.6691],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_408e9a7442c6ef811c0c08a24d10b7b6 = L.popup({"maxWidth": "100%"});

        
            
                var html_cd91d252b286eca60702f1d26e36fdfa = $(`<div id="html_cd91d252b286eca60702f1d26e36fdfa" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_408e9a7442c6ef811c0c08a24d10b7b6.setContent(html_cd91d252b286eca60702f1d26e36fdfa);
            
        

        marker_bbd441f298cc800afeeab1012a6ef389.bindPopup(popup_408e9a7442c6ef811c0c08a24d10b7b6)
        ;

        
    
    
            var marker_fdf05a33adb0183616bf6495bfae05a8 = L.marker(
                [55.8169, 37.6761],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_a03c449c7bcfb65acfe7558f7e08e455 = L.popup({"maxWidth": "100%"});

        
            
                var html_76b17a55743d48c1c04407842fcf08b0 = $(`<div id="html_76b17a55743d48c1c04407842fcf08b0" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_a03c449c7bcfb65acfe7558f7e08e455.setContent(html_76b17a55743d48c1c04407842fcf08b0);
            
        

        marker_fdf05a33adb0183616bf6495bfae05a8.bindPopup(popup_a03c449c7bcfb65acfe7558f7e08e455)
        ;

        
    
    
            var marker_877cce7f43f93626563936908a824bd0 = L.marker(
                [55.8216, 37.6828],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_5d699a6fa6d18525fc5216b109e4d6fd = L.popup({"maxWidth": "100%"});

        
            
                var html_6ab771c90896eb73363b286cfe0a15ae = $(`<div id="html_6ab771c90896eb73363b286cfe0a15ae" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_5d699a6fa6d18525fc5216b109e4d6fd.setContent(html_6ab771c90896eb73363b286cfe0a15ae);
            
        

        marker_877cce7f43f93626563936908a824bd0.bindPopup(popup_5d699a6fa6d18525fc5216b109e4d6fd)
        ;

        
    
    
            var marker_abfd611d67b17f3682323e017dae9ed9 = L.marker(
                [55.8039, 37.6692],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_a45d8fecac86ab2c088a4eb32819174b = L.popup({"maxWidth": "100%"});

        
            
                var html_fbd01a122e5f942f4bdc32fa4275517a = $(`<div id="html_fbd01a122e5f942f4bdc32fa4275517a" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_a45d8fecac86ab2c088a4eb32819174b.setContent(html_fbd01a122e5f942f4bdc32fa4275517a);
            
        

        marker_abfd611d67b17f3682323e017dae9ed9.bindPopup(popup_a45d8fecac86ab2c088a4eb32819174b)
        ;

        
    
    
            var marker_d9c2097cbfd7609f4ee48b043a3ecf70 = L.marker(
                [55.8031, 37.6689],
                {}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
    
        var popup_e4cae2cb31b611897e4f9ea6b27c7346 = L.popup({"maxWidth": "100%"});

        
            
                var html_331467df39aa4684ea894e765c03d12e = $(`<div id="html_331467df39aa4684ea894e765c03d12e" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_e4cae2cb31b611897e4f9ea6b27c7346.setContent(html_331467df39aa4684ea894e765c03d12e);
            
        

        marker_d9c2097cbfd7609f4ee48b043a3ecf70.bindPopup(popup_e4cae2cb31b611897e4f9ea6b27c7346)
        ;

        
    
    
            var poly_line_78d114c54edc1673bd49770978678a2b = L.polyline(
                [[55.8006, 37.6684], [55.7828, 37.5347], [55.8037, 37.6719], [55.8101, 37.6691], [55.8169, 37.6761], [55.8216, 37.6828], [55.8039, 37.6692], [55.8031, 37.6689]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_0559a182e71020d27f47b1ad5e343aba);
        
</script>
</html>