<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<div class="panel">

    <div class="header" style="background-image: url(./assets/gordon.png)">
        <div class="title">Ул. Гордона, 4</div>
    </div>

    <div class="content">
        <div class="description">Здесь должно быть очень подробное описание выбранного на карте места.
        </div>

        <div class="param" id="length">
            <div class="name">Дистанция</div>
            <div class="value">16 км</div>
        </div>

        <div class="param" id="time">
            <div class="name">Длительность</div>
            <div class="value">~ 1 час</div>
        </div>
    </div>

    <div class="reviews">
        <div class="title">Отзывы</div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Манки</div>
            </div>
            <div class="text">Мужики, там нету Гордона это обман не ведитесь!!!</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Монки1337</div>
            </div>

            <div class="text">* shocked monke noises *</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Gordon Fan</div>
            </div>
            <div class="text">Всем советую!
            </div>
        </div>
    </div>

    <div class="review-input">
        <input type="text" placeholder="Оставьте отзыв" maxlength="180">
    </div>

</div>
