<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_621aa2bc26fb8d29e68297399b67c118 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 35.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<div class="panel">

    <div class="header" style="background-image: url(./assets/gordon.png)">
        <div class="title">Ул. Гордона, 4</div>
    </div>

    <div class="content">
        <div class="description">Здесь должно быть очень подробное описание выбранного на карте места.
        </div>

        <div class="param" id="length">
            <div class="name">Дистанция</div>
            <div class="value">16 км</div>
        </div>

        <div class="param" id="time">
            <div class="name">Длительность</div>
            <div class="value">~ 1 час</div>
        </div>
    </div>

    <div class="reviews">
        <div class="title">Отзывы</div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Манки</div>
            </div>
            <div class="text">Мужики, там нету Гордона это обман не ведитесь!!!</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Монки1337</div>
            </div>

            <div class="text">* shocked monke noises *</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Gordon Fan</div>
            </div>
            <div class="text">Всем советую!
            </div>
        </div>
    </div>

    <div class="review-input">
        <input type="text" placeholder="Оставьте отзыв" maxlength="180">
    </div>

</div>
    
            <div class="folium-map" id="map_621aa2bc26fb8d29e68297399b67c118" ></div>
        
</body>
<script>
    
    
            var map_621aa2bc26fb8d29e68297399b67c118 = L.map(
                "map_621aa2bc26fb8d29e68297399b67c118",
                {
                    center: [55.689179, 37.772682],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                    align: "right",
                }
            );

            

        
    
            var tile_layer_b2b16ec532ae698d9a6dc91bfbfbf372 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
            var poly_line_1727c2a80aed5467c4b6690f63d6f187 = L.polyline(
                [[55.689179, 37.772682], [55.690211, 37.784942], [55.687925, 37.801329], [55.687321, 37.804719], [55.68103, 37.817131], [55.680892, 37.823656], [55.681641, 37.82827], [55.670039, 37.827013], [55.662859, 37.809713]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
            var marker_e7466f8675b4267e8ee5568382058a02 = L.marker(
                [55.689179, 37.772682],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_90a25ce60a9063ad3449f53e5d5345b4 = L.popup({"maxWidth": "100%"});

        
            
                var html_0f290938e75977d180294a1080c79ad2 = $(`<div id="html_0f290938e75977d180294a1080c79ad2" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_90a25ce60a9063ad3449f53e5d5345b4.setContent(html_0f290938e75977d180294a1080c79ad2);
            
        

        marker_e7466f8675b4267e8ee5568382058a02.bindPopup(popup_90a25ce60a9063ad3449f53e5d5345b4)
        ;

        
    
    
            var marker_0e1f71c4b2fc64d076ea38b05f5abad7 = L.marker(
                [55.690211, 37.784942],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_d22f457b86d7ed474c59471c3af0e89b = L.popup({"maxWidth": "100%"});

        
            
                var html_c07c77a0d8578efe718771846f379dd2 = $(`<div id="html_c07c77a0d8578efe718771846f379dd2" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_d22f457b86d7ed474c59471c3af0e89b.setContent(html_c07c77a0d8578efe718771846f379dd2);
            
        

        marker_0e1f71c4b2fc64d076ea38b05f5abad7.bindPopup(popup_d22f457b86d7ed474c59471c3af0e89b)
        ;

        
    
    
            var marker_5615f5e2375ac914e4202b88fb99a2e1 = L.marker(
                [55.687925, 37.801329],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_c04c05333984eec6392c02b87bb0242e = L.popup({"maxWidth": "100%"});

        
            
                var html_56a9beb3fd64ab5675f5a6f3e55f3927 = $(`<div id="html_56a9beb3fd64ab5675f5a6f3e55f3927" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_c04c05333984eec6392c02b87bb0242e.setContent(html_56a9beb3fd64ab5675f5a6f3e55f3927);
            
        

        marker_5615f5e2375ac914e4202b88fb99a2e1.bindPopup(popup_c04c05333984eec6392c02b87bb0242e)
        ;

        
    
    
            var marker_63f2431c0ca9b21507a015af7e399a58 = L.marker(
                [55.687321, 37.804719],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_caf736470ac3bfa9e9b96c998aa37eb9 = L.popup({"maxWidth": "100%"});

        
            
                var html_87a245fb18a2c777ce8f5be7a1ac9225 = $(`<div id="html_87a245fb18a2c777ce8f5be7a1ac9225" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_caf736470ac3bfa9e9b96c998aa37eb9.setContent(html_87a245fb18a2c777ce8f5be7a1ac9225);
            
        

        marker_63f2431c0ca9b21507a015af7e399a58.bindPopup(popup_caf736470ac3bfa9e9b96c998aa37eb9)
        ;

        
    
    
            var marker_7c1d99367e4d71f3afe91277ab1fc333 = L.marker(
                [55.68103, 37.817131],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_bf84f5ded290dc3f8c4b85544c581155 = L.popup({"maxWidth": "100%"});

        
            
                var html_6a23177ad65e2bfe6da33c5b58c832d8 = $(`<div id="html_6a23177ad65e2bfe6da33c5b58c832d8" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_bf84f5ded290dc3f8c4b85544c581155.setContent(html_6a23177ad65e2bfe6da33c5b58c832d8);
            
        

        marker_7c1d99367e4d71f3afe91277ab1fc333.bindPopup(popup_bf84f5ded290dc3f8c4b85544c581155)
        ;

        
    
    
            var marker_d1400baf277fd3633b5c94b3ced337dd = L.marker(
                [55.680892, 37.823656],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_33d160abe8ac4c81af4b7a9fd4515084 = L.popup({"maxWidth": "100%"});

        
            
                var html_e1c0b33efc66cd06c230688f81e16bdd = $(`<div id="html_e1c0b33efc66cd06c230688f81e16bdd" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_33d160abe8ac4c81af4b7a9fd4515084.setContent(html_e1c0b33efc66cd06c230688f81e16bdd);
            
        

        marker_d1400baf277fd3633b5c94b3ced337dd.bindPopup(popup_33d160abe8ac4c81af4b7a9fd4515084)
        ;

        
    
    
            var marker_37a215dc7a2532b25b2218ecbe159f27 = L.marker(
                [55.681641, 37.82827],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_271ad63de667babc6ff1fb314d23f4a5 = L.popup({"maxWidth": "100%"});

        
            
                var html_4d5dff25b8e1fd254014ec9d6bb8c5ac = $(`<div id="html_4d5dff25b8e1fd254014ec9d6bb8c5ac" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_271ad63de667babc6ff1fb314d23f4a5.setContent(html_4d5dff25b8e1fd254014ec9d6bb8c5ac);
            
        

        marker_37a215dc7a2532b25b2218ecbe159f27.bindPopup(popup_271ad63de667babc6ff1fb314d23f4a5)
        ;

        
    
    
            var marker_d0d79530e8bd36ccd8f6aeefdaed7e70 = L.marker(
                [55.670039, 37.827013],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_bcac6860e98c49e6c5d2ae85b68a792e = L.popup({"maxWidth": "100%"});

        
            
                var html_2268941d9863aa5ddd4f288e7c573a12 = $(`<div id="html_2268941d9863aa5ddd4f288e7c573a12" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_bcac6860e98c49e6c5d2ae85b68a792e.setContent(html_2268941d9863aa5ddd4f288e7c573a12);
            
        

        marker_d0d79530e8bd36ccd8f6aeefdaed7e70.bindPopup(popup_bcac6860e98c49e6c5d2ae85b68a792e)
        ;

        
    
    
            var marker_629c594f0bd08c65e5d9eb7ce849d64b = L.marker(
                [55.662859, 37.809713],
                {}
            ).addTo(map_621aa2bc26fb8d29e68297399b67c118);
        
    
        var popup_3667e185e86896d9a5b1200a575d0b15 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce37c2234ea2bd88f1dcc4addd5d102a = $(`<div id="html_ce37c2234ea2bd88f1dcc4addd5d102a" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_3667e185e86896d9a5b1200a575d0b15.setContent(html_ce37c2234ea2bd88f1dcc4addd5d102a);
            
        

        marker_629c594f0bd08c65e5d9eb7ce849d64b.bindPopup(popup_3667e185e86896d9a5b1200a575d0b15)
        ;

        
    
</script>
</html>