<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c86a0f1a38df04755a86a4370471c385 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 35.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    <meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<div class="panel">

    <div class="header" style="background-image: url(./assets/gordon.png)">
        <div class="title">Ул. Гордона, 4</div>
    </div>

    <div class="content">
        <div class="description">Здесь должно быть очень подробное описание выбранного на карте места.
        </div>

        <div class="param" id="length">
            <div class="name">Дистанция</div>
            <div class="value">16 км</div>
        </div>

        <div class="param" id="time">
            <div class="name">Длительность</div>
            <div class="value">~ 1 час</div>
        </div>
    </div>

    <div class="reviews">
        <div class="title">Отзывы</div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Манки</div>
            </div>
            <div class="text">Мужики, там нету Гордона это обман не ведитесь!!!</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Монки1337</div>
            </div>

            <div class="text">* shocked monke noises *</div>
        </div>

        <div class="comment">
            <div class="author">
                <img class="avatar" src="./assets/avatar.webp">
                <div class="username">Gordon Fan</div>
            </div>
            <div class="text">Всем советую!
            </div>
        </div>
    </div>

    <div class="review-input">
        <input type="text" placeholder="Оставьте отзыв" maxlength="180">
    </div>

</div>
    
            <div class="folium-map" id="map_c86a0f1a38df04755a86a4370471c385" ></div>
        
</body>
<script>
    
    
            var map_c86a0f1a38df04755a86a4370471c385 = L.map(
                "map_c86a0f1a38df04755a86a4370471c385",
                {
                    center: [55.689179, 37.772682],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                    align: "right",
                }
            );

            

        
    
            var tile_layer_131a2d86278f212073a6b6527a6ac255 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
            var poly_line_f457db5721917fb52455e8867ba1e78c = L.polyline(
                [[55.689179, 37.772682], [55.690211, 37.784942], [55.687925, 37.801329], [55.687321, 37.804719], [55.68103, 37.817131], [55.680892, 37.823656], [55.681641, 37.82827], [55.670039, 37.827013], [55.662859, 37.809713]],
                {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "gray", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
            var marker_10509da5b2c39dedd7473024c704cdc7 = L.marker(
                [55.689179, 37.772682],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_a8203d41b65ae257b7f6184e4e8c63b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_ba71745cd79d532b60b969cc356655d9 = $(`<div id="html_ba71745cd79d532b60b969cc356655d9" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_a8203d41b65ae257b7f6184e4e8c63b8.setContent(html_ba71745cd79d532b60b969cc356655d9);
            
        

        marker_10509da5b2c39dedd7473024c704cdc7.bindPopup(popup_a8203d41b65ae257b7f6184e4e8c63b8)
        ;

        
    
    
            var marker_3ea073747ae0c7cf865e83c342c29b4d = L.marker(
                [55.690211, 37.784942],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_cb86304ad98cf10f9623dbb3495c939e = L.popup({"maxWidth": "100%"});

        
            
                var html_9db01fa528f9b292c538574a8378c10a = $(`<div id="html_9db01fa528f9b292c538574a8378c10a" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_cb86304ad98cf10f9623dbb3495c939e.setContent(html_9db01fa528f9b292c538574a8378c10a);
            
        

        marker_3ea073747ae0c7cf865e83c342c29b4d.bindPopup(popup_cb86304ad98cf10f9623dbb3495c939e)
        ;

        
    
    
            var marker_6616c0b17d11e7f7614d6476a5fe9e7f = L.marker(
                [55.687925, 37.801329],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_dfeb85bc4d05ab98d4406759cb2ae01a = L.popup({"maxWidth": "100%"});

        
            
                var html_50d038a7c4d1abab930ca775c1735747 = $(`<div id="html_50d038a7c4d1abab930ca775c1735747" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_dfeb85bc4d05ab98d4406759cb2ae01a.setContent(html_50d038a7c4d1abab930ca775c1735747);
            
        

        marker_6616c0b17d11e7f7614d6476a5fe9e7f.bindPopup(popup_dfeb85bc4d05ab98d4406759cb2ae01a)
        ;

        
    
    
            var marker_652f0752ac44aea4a750d25de6b4cdd7 = L.marker(
                [55.687321, 37.804719],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_8387acb14c03bca5d045e11b34c3be0c = L.popup({"maxWidth": "100%"});

        
            
                var html_ca4db9f19997ca81361a9e199d761948 = $(`<div id="html_ca4db9f19997ca81361a9e199d761948" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_8387acb14c03bca5d045e11b34c3be0c.setContent(html_ca4db9f19997ca81361a9e199d761948);
            
        

        marker_652f0752ac44aea4a750d25de6b4cdd7.bindPopup(popup_8387acb14c03bca5d045e11b34c3be0c)
        ;

        
    
    
            var marker_6ae26b34fa25b76b748eeccc605af645 = L.marker(
                [55.68103, 37.817131],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_a5140c5dddee1dda08f978b5fc935b05 = L.popup({"maxWidth": "100%"});

        
            
                var html_5c4032c3938435722e3090460dc5d8ba = $(`<div id="html_5c4032c3938435722e3090460dc5d8ba" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_a5140c5dddee1dda08f978b5fc935b05.setContent(html_5c4032c3938435722e3090460dc5d8ba);
            
        

        marker_6ae26b34fa25b76b748eeccc605af645.bindPopup(popup_a5140c5dddee1dda08f978b5fc935b05)
        ;

        
    
    
            var marker_244c58983718ecc53a811104063a9ec4 = L.marker(
                [55.680892, 37.823656],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_cbdaf3728028eaa82972884c7476f003 = L.popup({"maxWidth": "100%"});

        
            
                var html_8871b9a77d737ba45dc5cc75ff7d0983 = $(`<div id="html_8871b9a77d737ba45dc5cc75ff7d0983" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_cbdaf3728028eaa82972884c7476f003.setContent(html_8871b9a77d737ba45dc5cc75ff7d0983);
            
        

        marker_244c58983718ecc53a811104063a9ec4.bindPopup(popup_cbdaf3728028eaa82972884c7476f003)
        ;

        
    
    
            var marker_57d34587d8a2c8763d0beab9a878641f = L.marker(
                [55.681641, 37.82827],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_bbf97abb6daf22a19111cc2e071cf610 = L.popup({"maxWidth": "100%"});

        
            
                var html_df3b0b63a3d3e6884de5fc38f6369f7b = $(`<div id="html_df3b0b63a3d3e6884de5fc38f6369f7b" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_bbf97abb6daf22a19111cc2e071cf610.setContent(html_df3b0b63a3d3e6884de5fc38f6369f7b);
            
        

        marker_57d34587d8a2c8763d0beab9a878641f.bindPopup(popup_bbf97abb6daf22a19111cc2e071cf610)
        ;

        
    
    
            var marker_bf1f178df13ef108d457d22ff4eeac71 = L.marker(
                [55.670039, 37.827013],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_d144f7b6c265df6e3c4c434aabb3c012 = L.popup({"maxWidth": "100%"});

        
            
                var html_ab271a4d95b32033124195c50fdc5988 = $(`<div id="html_ab271a4d95b32033124195c50fdc5988" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_d144f7b6c265df6e3c4c434aabb3c012.setContent(html_ab271a4d95b32033124195c50fdc5988);
            
        

        marker_bf1f178df13ef108d457d22ff4eeac71.bindPopup(popup_d144f7b6c265df6e3c4c434aabb3c012)
        ;

        
    
    
            var marker_2c8b3bf11c7df93aa067b147291c7cdf = L.marker(
                [55.662859, 37.809713],
                {}
            ).addTo(map_c86a0f1a38df04755a86a4370471c385);
        
    
        var popup_69354e22e1d837be1967c407f6839859 = L.popup({"maxWidth": "100%"});

        
            
                var html_d795706d263c52daea98b21f29380cfd = $(`<div id="html_d795706d263c52daea98b21f29380cfd" style="width: 100.0%; height: 100.0%;"><i>0_0</i></div>`)[0];
                popup_69354e22e1d837be1967c407f6839859.setContent(html_d795706d263c52daea98b21f29380cfd);
            
        

        marker_2c8b3bf11c7df93aa067b147291c7cdf.bindPopup(popup_69354e22e1d837be1967c407f6839859)
        ;

        
    
</script>
</html>